* {
  margin: 0;
  padding: 0;
  background-color: #b5d287;
  box-sizing: border-box;
  font-family: Zeyada;
  font-weight: 200;

}

html {
  font-size: 16px;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src: url(https://fonts.gstatic.com/s/opensans/v40/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4gaVc.ttf) format('truetype');
}

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/pacifico/v22/FwZY7-Qmy14u9lezJ-6H6Mw.ttf) format('truetype');
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
  font-family: Zeyada;
  font-weight: 200;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.outer-menu {
  position: fixed;
  top: 25px;
  left: 25px;
  z-index: 1;
}

.outer-menu .checkbox-toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
  opacity: 0;
}

.outer-menu .checkbox-toggle:checked+.hamburger>div {
  transform: rotate(135deg);
}

.outer-menu .checkbox-toggle:checked+.hamburger>div:before,
.outer-menu .checkbox-toggle:checked+.hamburger>div:after {
  top: 0;
  transform: rotate(90deg);
}

.outer-menu .checkbox-toggle:checked+.hamburger>div:after {
  opacity: 0;
}

.outer-menu .checkbox-toggle:checked~.menu {
  pointer-events: auto;
  visibility: visible;
}

.outer-menu .checkbox-toggle:checked~.menu>div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.outer-menu .checkbox-toggle:checked~.menu>div>div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.outer-menu .checkbox-toggle:hover+.hamburger {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.outer-menu .checkbox-toggle:checked:hover+.hamburger>div {
  transform: rotate(225deg);
}

.outer-menu .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 55px;
  height: 55px;
  padding: 0.5em 1em;
  border-radius: 0 0.12em 0.12em 0;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #515D40;
}

.outer-menu .hamburger>div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #e5e5e5;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-menu .hamburger>div:before,
.outer-menu .hamburger>div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background: inherit;
  transition: all 0.4s ease;
}

.outer-menu .hamburger>div:after {
  top: 10px;
}

.outer-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  outline: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-menu .menu>div {
  width: 600px;
  height: 200vw;
  color: rgba(255, 255, 255, 0.95);
  background: #d9edb2;
  border-radius: 50%;
  transition: all 0.4s ease;
  flex: none;
  transform: scale(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-menu .menu>div>div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
  overflow-y: auto;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-menu .menu>div>div>ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
  display: block;
  max-height: 100vh;
}

.outer-menu .menu>div>div>ul>li {
  padding: 0;
  margin: 1em;
  font-size: 24px;
  display: block;
}

.outer-menu .menu>div>div>ul>li>a {
  position: relative;
  display: inline;
  cursor: pointer;
  transition: color 0.4s ease;
}

.outer-menu .menu>div>div>ul>li>a:hover {
  color: #707566;
}

.outer-menu .menu>div>div>ul>li>a:hover:after {
  width: 100%;
}

.outer-menu .menu>div>div>ul>li>a:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -0.15em;
  left: 0;
  width: 0;
  height: 2px;
  background: #e5e5e5;
  transition: width 0.4s ease;
}


/* ここからメイン */
body {
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


h1 {
  display: block;
  text-align: center;
  border-bottom: 1px solid #4d5047;
  line-height: 50%;
  margin: 6rem auto;
  width: 20rem;
  font-size: 5rem;
  font-family: Zeyada;
  color: #2b2d28;
  transform: skewX(-0.05turn);
  flex-shrink: 0;
}

h2 {
  margin: 2rem 0;
  text-align: center;
  font-size: 2.5rem;
  color: #4d5047;
}

h3 {
  font-size: 2.5rem;
  color: #e5e5e5;
  background: none;
}

.sns-sec {
  width: 100%;
  display: block;
  text-align: center;
}

.myprofile {
  width: 100%;
  padding: 2rem;
  background-image: url(icon.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

.icon-img {
  margin-top: 3rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.me-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: none;
}

.me-info img {
  width: 24px;
  height: 24px;
  background: none;
}


.social-link {
  display: flex;
  background: none;
}

.myname {
  font-size: 1.5rem;
  margin-right: 1.3rem;
  background: none;
}

.img-story {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0 3rem;
  flex-wrap: nowrap;
  /* 折り返し禁止 */
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  background: none;
}

.track {
  background: none;
}

.ra-men-img {
  flex: 0 1 auto;
  width: clamp(100px, 20vw, 160px);
  aspect-ratio: 3/4;
  object-fit: cover;
  border-radius: 6px;
}

.contact-sec {
  display: flex;
  justify-content: center;
  margin: 5rem 0 3rem 0;
}

.sns-cnt {
  margin: 1rem;
}

.contact-sec label {
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 1.5rem;
}

.contact-sec input,
textarea {
  width: min(80vw, 50rem);
  max-width: 100%;
  height: auto;
  padding: 0.5rem;
  resize: vertical;
  background-color: #d9edb2;
  border: 2px solid #616459;
  border-radius: 2px;
  box-sizing: border-box;
}

.contact-sec input:focus,
textarea:focus {
  outline: none;
  border-color: #8fb67a;
  box-shadow: 0 0 0 4px rgba(143, 182, 122, 0.12);
}

button {
  width: min(20vw, 6rem);
  height: auto;
  margin-top: 2rem;
  padding: 0.3rem;
  background-color: #616459;
  border: 2px solid #c3c9b2;
  border-radius: 3px;
  color: #e5e5e5;
}

button:hover {
  background-color: #373931;
}

footer {
  margin: 6rem 0 2rem 0;
  text-align: center;
  color: #2b2d28;
}

/* ここからレスポンシブ */
@media(max-width: 600px) {
  .outer-menu .hamburger {
    width: 40px;
    height: 40px;
    padding: 0.3em 0.6em;
  }

  .outer-menu .hamburger>div,
  .outer-menu .hamburger>div:before,
  .outer-menu .hamburger>div:after {
    height: 1px;
  }

  h1 {
    width: 12rem;
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

}