@import url("../base/base.css");
@import url("../common/layout.css");
@import url("../common/nav.css");
@import url("../common/animation.css");


/* not found page */
/* not found page */
/* not found page */

#notfound-main {
  position: relative;
  overflow: hidden;
}

#notfound-main>.notfound-image-container {
  position: relative;
}

#notfound-main>.notfound-image-container>img.notfound-img {
  width: 60%;
  display: block;
  margin: 0 auto;
}

#notfound-main>.notfound-image-container>img.notfound-sozai {
  width: 20%;
  position: absolute;
  top: 30%;
  left: -3em;
  transform: rotate(-90deg);
}

#notfound-main>.notfound-image-container>img.notfound-sozai2 {
  width: 20%;
  position: absolute;
  top: 0;
  right: 3em;
}

.notfound-container {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
}

p.back-to-top {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  font-size: 1.5em;
  border: 1px solid var(--h2-col);
  border-radius: 5px;
}

p.back-to-top a {
  width: 100%;
  padding: .5em;
  text-align: center;
  background-color: transparent;
}

p.back-to-top:hover {
  background-color: var(--link-bg);
  opacity: .7;
}

p.back-to-top:hover a {
  color: #ffffff;
}




/* responsive */
/* responsive */
/* responsive */

@media screen and (max-width: 768px) {

  #notfound-main {
    padding: 2em 1em;
    overflow: hidden;
  }

  #notfound-main>.notfound-image-container {
    position: relative;
  }

  #notfound-main>.notfound-image-container>img.notfound-img {
    width: 70%;
    display: block;
    position: relative;
    top: -5em;
  }

  #notfound-main>.notfound-image-container>img.notfound-sozai {
    width: 35%;
    top: 60%;
    left: -3em;
  }

  #notfound-main>.notfound-image-container>img.notfound-sozai2 {
    width: 35%;
    top: -13em;
    right: -1.5em;
    transform: rotate(45deg);
  }

  .notfound-container {
    width: 90%;
    max-width: 100%;
    margin: 2em auto 0;
  }

  .notfound-text {
    margin-top: 1.5em;
    font-size: .85em;
    line-height: 1.8;
  }

  p.back-to-top {
    width: 100%;
    margin-top: 1.5em;
    font-size: 1.1em;
  }

  p.back-to-top a {
    display: block;
    width: 100%;
    padding: .8em;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  #notfound-main>.notfound-image-container>img.notfound-sozai {
    top: 90%;
  }

  #notfound-main>.notfound-image-container>img.notfound-sozai2 {
    top: -7em;
  }

  #notfound-main>.notfound-image-container>img.notfound-img {
    top: 0;
  }

  .notfound-text {
    margin-top: 6em;
  }
}