@import url(./base/base.css);
@import url(./common/layout.css);
@import url(./common/animation.css);
@import url(./pages/top.css);
@import url(./pages/about.css);
@import url(./pages/frontend.css);
@import url(./pages/backend.css);
@import url(./pages/contact.css);



/* works page */
/* works page */
/* works page */
.works-item-inner {
  margin: 0 auto;
  max-width: fit-content;
}

.works-item-inner>h2 {
  margin: 4rem 0 1rem;
  border-bottom: 1px solid var(--link-hover);
  width: fit-content;
  line-height: .8;
  padding: 0 5em 0 1em;
}

.collection {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.collection>div {
  flex: 0 0 calc(50% - 1rem);
  text-align: center;
}

.contents {
  margin: 1rem 0;
  padding: 1rem 3rem;
}

.works-thumbnail {
  aspect-ratio: 11/7;
  box-shadow: 0 0 2px var(--shadow-col);
  border-radius: 2%;
  transition: all 0.4s ease;
}

.works-thumbnail:hover {
  transform: scale(1.05);
}

.link-2 {
  display: inline-block;
  margin: 0;
  padding: 0 1rem;
  font-size: 1.5rem;
  border-radius: 1px;
  text-decoration: none;
  color: #fff !important;
  background-color: var(--link-bg);
  opacity: 0.6;
  cursor: alias;
  min-width: 250px;
}

.link-2:hover {
  background-color: var(--link-hover);
}




/* works2 page */
/* works2 page */
/* works2 page */
/* 横スクロール */
.image-slider {
  margin: 0 5rem 10rem;
}

.scroll-container {
  list-style: none;
}

.scroll-item {
  padding: 1rem;
}

.scroll-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.image-seen {
  padding: 0 2rem 1rem 2rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: cover;
  max-width: fit-content;
}

.slick-dots {
  bottom: -80px;
}

.img-2 {
  height: auto;
  max-width: 600px;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 0 2px var(--shadow-col);
  opacity: 0.9;
  transition: all 0.3s ease;
}

.img-2:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px #00000066;
}

.seen-txt {
  width: 100%;
  margin: 0.5rem 0 5rem 0;
  justify-content: flex-start;
  text-align: left;
  font-size: 1.5rem;
  color: var(--li-col);
}


/* ここからレスポンシブ */
/* ここからレスポンシブ */
/* ここからレスポンシブ */
/* ここからレスポンシブ */
/* ここからレスポンシブ */
/* ここからレスポンシブ */
/* ここからレスポンシブ */
/* ここからレスポンシブ */
/* ここからレスポンシブ */



/* works page */
/* works page */
/* works page */

@media(max-width: 991px) {
}
@media(max-width: 769px) {
}
@media(max-width: 575px) {
.works-item-inner>h2 {
  margin-bottom: 1.5rem;
  padding: 0 3rem 0 1rem;
}

  h3 {
    display: flex;
    justify-content: center;
  }

  .works-spantag {
    display: flex;
    flex-direction: column;
  }

  .link {
    font-size: 1rem;
    display: inline-block;
    margin: 0 auto;
  }

  .limk-2 {
    min-width: 340px;
  }

  .collection {
    flex-direction: column;
  }

  .collection>div {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .contents {
    margin: 0;
    transform: scale(0.9);
  }

}

/* works2 page */
/* works2 page */
/* works2 page */

@media(max-width: 991px) {
}
@media(max-width: 769px) {
}
@media(max-width: 575px) {
  .slick-dots {
  bottom: -50px;
}

.scroll-item img {
  margin: 0;
  margin-bottom: 1rem;
}

  .image-seen {
    max-width: 90%;
  }

  .seen-txt {
    font-size: 1rem;
  }

  /* 2026-06-25 add */
  .image-slider {
    margin-bottom: 6rem;
  }

  /* 2026-07-01 add */
  .slick-list {
    margin: 0 auto;
  }

  .slick-track {
    display: flex !important;
    justify-content: center;
    margin: 0 auto;
  }

  .slick-dotted.slick-slider {
    margin: 0 3em;
  }


  /* 2026-07-06 add */
  .gallery-ul {
    list-style: none;
  }

}

/* 2026-09-09 */
@media (max-width: 768px) {
  .image-slider {
    margin: 0 1rem 6rem;
  }

  .scroll-item {
    padding: 0.5rem;
  }

  .scroll-item img {
    height: 220px;
  }
}



/* 2026-09-15 add */



